
@font-face {
    font-family:"Karelia Bold";
    src:url("KareliaBold.woff2") format("woff2"),url("KareliaBold.woff") format("woff"),url("KareliaBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        