$primary : #ddda9e; // Желтый
$secondary : #7b0404; // Темно-красный
$third : #000; // Черный
$fourth : #fff;
$five: #c74122; // Кирпичный
$six: #8c9064; // Олива
$seven: #ea6565; // Красный
$eight: #009f3c; // Зеленый

$error : $third;
$success : $fourth;