
@font-face {
    font-family:"Glafira TYGRA";
    src:url("Glafir.woff2") format("woff2"),url("Glafir.woff") format("woff"),url("Glafir.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        