
@font-face {
    font-family:"Karelia";
    src:url("KareliaRegular.woff2") format("woff2"),url("KareliaRegular.woff") format("woff"),url("KareliaRegular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        